

  <main>
    <div class="page-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 py-3 px-lg-0">
            <div class="row no-gutters">
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_3.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Sam Newman</div>
                      <a href="#" class="post-date">23 Apr 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">How to improve your business growth</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_2.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">George Doe</div>
                      <a href="#" class="post-date">31 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_1.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Helena Anderson</div>
                      <a href="#" class="post-date">28 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">Start, run, and grow your business</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_3.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Sam Newman</div>
                      <a href="#" class="post-date">23 Apr 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">How to improve your business growth</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_2.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">George Doe</div>
                      <a href="#" class="post-date">31 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_1.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Helena Anderson</div>
                      <a href="#" class="post-date">28 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">Start, run, and grow your business</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_3.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Sam Newman</div>
                      <a href="#" class="post-date">23 Apr 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">How to improve your business growth</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_2.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">George Doe</div>
                      <a href="#" class="post-date">31 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_1.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Helena Anderson</div>
                      <a href="#" class="post-date">28 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">Start, run, and grow your business</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_3.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Sam Newman</div>
                      <a href="#" class="post-date">23 Apr 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">How to improve your business growth</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_2.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">George Doe</div>
                      <a href="#" class="post-date">31 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 py-3 px-2">
                <div class="card-blog">
                  <div class="header">
                    <div class="avatar">
                      <img src="/img/person/person_1.jpg" alt="">
                    </div>
                    <div class="entry-footer">
                      <div class="post-author">Helena Anderson</div>
                      <a href="#" class="post-date">28 Mar 2020</a>
                    </div>
                  </div>
                  <div class="body">
                    <div class="post-title"><a href="blog-single.html">Start, run, and grow your business</a></div>
                    <div class="post-excerpt">On the internet, an endless source of industry insights..</div>
                  </div>
                  <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-5">
                <nav aria-label="Pagination">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link">Prev</a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div> <!-- .row -->
          </div>
          <div class="col-lg-4 py-3">
            <div class="widget">
              <div class="widget-box">
                <h3 class="widget-title">Search</h3>
                <div class="divider"></div>
                <form action="#" class="search-form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                    <button type="submit" class="btn"><span class="icon mai-search"></span></button>
                  </div>
                </form>
              </div>
              <div class="widget-box">
                <h3 class="widget-title">Categories</h3>
                <div class="divider"></div>
                <ul class="categories">
                  <li><a href="#">Food <span>12</span></a></li>
                  <li><a href="#">Dish <span>22</span></a></li>
                  <li><a href="#">Desserts <span>37</span></a></li>
                  <li><a href="#">Drinks <span>42</span></a></li>
                  <li><a href="#">Ocassion <span>14</span></a></li>
                </ul>
              </div>
  
              <div class="widget-box">
                <h3 class="widget-title">Recent Blog</h3>
                <div class="divider"></div>
                <div class="blog-item">
                  <div class="content">
                    <h6 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h6>
                    <div class="meta">
                      <a href="#"><span class="mai-calendar"></span> July 12, 2018</a>
                      <a href="#"><span class="mai-person"></span> Admin</a>
                      <a href="#"><span class="mai-chatbubbles"></span> 19</a>
                    </div>
                  </div>
                </div>
                <div class="blog-item">
                  <div class="content">
                    <h6 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h6>
                    <div class="meta">
                      <a href="#"><span class="mai-calendar"></span> July 12, 2018</a>
                      <a href="#"><span class="mai-person"></span> Admin</a>
                      <a href="#"><span class="mai-chatbubbles"></span> 19</a>
                    </div>
                  </div>
                </div>
                <div class="blog-item">
                  <div class="content">
                    <h6 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h6>
                    <div class="meta">
                      <a href="#"><span class="mai-calendar"></span> July 12, 2018</a>
                      <a href="#"><span class="mai-person"></span> Admin</a>
                      <a href="#"><span class="mai-chatbubbles"></span> 19</a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="widget-box">
                <h3 class="widget-title">Tag Cloud</h3>
                <div class="divider"></div>
                <div class="tagcloud">
                  <a href="#" class="tag-cloud-link">dish</a>
                  <a href="#" class="tag-cloud-link">menu</a>
                  <a href="#" class="tag-cloud-link">food</a>
                  <a href="#" class="tag-cloud-link">sweet</a>
                  <a href="#" class="tag-cloud-link">tasty</a>
                  <a href="#" class="tag-cloud-link">delicious</a>
                  <a href="#" class="tag-cloud-link">desserts</a>
                  <a href="#" class="tag-cloud-link">drinks</a>
                </div>
              </div>
  
              <div class="widget-box">
                <h3 class="widget-title">Paragraph</h3>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
