

  <main>
    <div class="page-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="course-filter">
              <h5>Sort By</h5>
              <select id="sort" class="custom-select">
                <option value="s1">Most Popular</option>
                <option value="s2">Recommended</option>
                <option value="s3">New Programs</option>
                <option value="s4">Most Videos</option>
              </select>

              <hr>

              <h5>Categories</h5>
              <ul class="course-filter-list">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc1">
                    <label class="custom-control-label" for="cc1">Software Engineer</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc2">
                    <label class="custom-control-label" for="cc2">Web Development</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc3">
                    <label class="custom-control-label" for="cc3">Web Design</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc4">
                    <label class="custom-control-label" for="cc4">Mobile App Development</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc5">
                    <label class="custom-control-label" for="cc5">Robotics</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc6">
                    <label class="custom-control-label" for="cc6">Networking</label>
                  </div>
                </li>
              </ul>
  
              <hr>

              <h5>Video Count</h5>
              <ul class="course-filter-list">
                <li>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="cc1-2">
                    <label class="custom-control-label" for="cc1-2">&lt; 10 Videos</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="cc2-2">
                    <label class="custom-control-label" for="cc2-2">10 - 20 Videos</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="cc3-2">
                    <label class="custom-control-label" for="cc3-2">20+ Videos</label>
                  </div>
                </li>
              </ul>

              <hr>

              <h5>Environment/Platform</h5>
              <ul class="course-filter-list">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc1-3">
                    <label class="custom-control-label" for="cc1-3">Desktop</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc2-3">
                    <label class="custom-control-label" for="cc2-3">Mobile</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cc3-3">
                    <label class="custom-control-label" for="cc3-3">Website</label>
                  </div>
                </li>
              </ul>

              <button class="btn btn-secondary btn-block space-up-32">Reset</button>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
              <div class="item">
                <div class="course-card">
                  <div class="badge badge-danger">Hot</div>
                  <div class="header">
                    <img src="/img/course/artificial-intelligence.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Artificial Intelligence">Artificial Intelligence</a></p>
                    <small class="text-xs fg-grey">20 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="badge badge-warning">Popular</div>
                  <div class="header">
                    <img src="/img/course/programming.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Programming">Programming</a></p>
                    <small class="text-xs fg-grey">32 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="badge badge-success">New</div>
                  <div class="header">
                    <img src="/img/course/web-design.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Web Design">Web Design</a></p>
                    <small class="text-xs fg-grey">19 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="badge badge-warning">Popular</div>
                  <div class="header">
                    <img src="/img/course/seo.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Search Engine Optimization">Search Engine Optimization</a></p>
                    <small class="text-xs fg-grey">12 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="badge badge-warning">Popular</div>
                  <div class="header">
                    <img src="/img/course/data-analysis.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Data Analyst">Data Analyst</a></p>
                    <small class="text-xs fg-grey">14 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="header">
                    <img src="/img/course/android.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Android App Development">Android App Development</a></p>
                    <small class="text-xs fg-grey">30 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="header">
                    <img src="/img/course/artificial-intelligence.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Artificial Intelligence">Artificial Intelligence</a></p>
                    <small class="text-xs fg-grey">20 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="header">
                    <img src="/img/course/programming.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Programming">Programming</a></p>
                    <small class="text-xs fg-grey">32 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="header">
                    <img src="/img/course/web-design.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Web Design">Web Design</a></p>
                    <small class="text-xs fg-grey">19 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="header">
                    <img src="/img/course/seo.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Search Engine Optimization">Search Engine Optimization</a></p>
                    <small class="text-xs fg-grey">12 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="header">
                    <img src="/img/course/data-analysis.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Data Analyst">Data Analyst</a></p>
                    <small class="text-xs fg-grey">14 Videos</small>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="course-card">
                  <div class="badge badge-success">New</div>
                  <div class="header">
                    <img src="/img/course/android.jpg" alt="">
                  </div>
                  <div class="content">
                    <p class="course-title"><a href="#" title="Android App Development">Android App Development</a></p>
                    <small class="text-xs fg-grey">30 Videos</small>
                  </div>
                </div>
              </div>
              
            </div> <!-- .row -->

            <nav aria-label="Pagination">
              <ul class="pagination justify-content-end mt-5">
                <li class="page-item">
                  <a href="#" class="page-link">Prev</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div> <!-- .col-lg-8 -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>