

  <main>
    <div class="page-section">
      <div class="container">
        <form action="#" class="search-form mb-5">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter name or specialist">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_1.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Walter White</h5>
                <div class="text-sm fg-grey">Web Developer</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_2.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Sarah Johanson</h5>
                <div class="text-sm fg-grey">Machine Learning Engineer</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_3.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Anna Anderson</h5>
                <div class="text-sm fg-grey">Network Specialist</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_1.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Walter White</h5>
                <div class="text-sm fg-grey">Web Developer</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_2.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Sarah Johanson</h5>
                <div class="text-sm fg-grey">Machine Learning Engineer</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_3.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Anna Anderson</h5>
                <div class="text-sm fg-grey">Network Specialist</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_1.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Walter White</h5>
                <div class="text-sm fg-grey">Web Developer</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_2.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Sarah Johanson</h5>
                <div class="text-sm fg-grey">Machine Learning Engineer</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3">
            <div class="team-wrap">
              <div class="team-profile">
                <img src="/img/teams/team_3.jpg" alt="">
              </div>
              <div class="team-content">
                <h5>Anna Anderson</h5>
                <div class="text-sm fg-grey">Network Specialist</div>
  
                <div class="social-button">
                  <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-mail"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <nav aria-label="Pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a href="#" class="page-link">Prev</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-section -->

  </main>



